<%=flash[:notice]%>
<div id="itemslist">
	
	<div id="listtabs">
		<ul>
			<li class="<%= @sort=="popular" ? "selected" : "" %>"><%=link_to 'Popular', sort_path(@current_category, "popular")%></li>
			<li class="<%= @sort=="new" ? "selected" : "" %>"><%= link_to 'Recent', lista_url(@current_category, "new", "created") %></li>
 		</ul>
	</div>
		<div style="margin-botom:-20px;font-size:20px">
	   		<%if @sort=="popular" %>
				<% if  @time != nil %> 
				 This <%= @time %> most popular
			 	<%else%>
					Popular
				<%end%>
			<%elsif @sort == "new"%>
				Recent <%= @time %>
			<%end%>  
			
			<%if @sort=="tags"%>
				Lists with tag <strong><%=@time%></strong>
			<%end%>
		</div>
	<div id="timebrowse">
		<ul>
			<%if @sort=="popular"%>

			<li><%= link_to 'Week', lista_url(@current_category, "popular", "week") %> </li>
			<li><%= link_to 'Month', lista_url(@current_category, "popular", "month") %> </li>
			<li><%= link_to "Year", lista_url(@current_category, "popular", "year") %> </li>
			<%end%>
 			<%if @sort=="new"%>
			<li class="<%=@time=="updated" ? "selected2" : ""%>"> <%= link_to 'Updated', lista_url(@current_category, "new", "updated") %></li>
			<li class="<%=@time=="created" ? "selected2" : ""%>"> <%= link_to 'Created', lista_url(@current_category, "new", "created") %></li>
			<%end%>
		</ul>
	</div>
	
<div style="margin-top:40px;">
	<%= render :partial => @lists, :locals => {:user=>@user} %> 
 </div>


</div>

<%= will_paginate @lists %>


<% content_for(:right) do%>

<div class="segment"> 
	<div id="join-button"><a href="/lists/new?category_id=<%=@current_category_id%>"> </a></div> 
	<h2>What is Light Salad?</h2>
	<p>
Light Salad lets you create lists, add items to them and rank them throught votes.</p> 
<br/>
<p>
Light Salad is an open source project you can download  it from <a href="https://github.com/rbreve/LightSalad">github here</a>
</p>


</div>

<%if not current_user%>
 <form action="/users" class="new_user" id="new_user" method="post">

	<p>
	<input type='submit' value='Register with Twitter' name='register_with_oauth' id='user_submit' class='twitter'/>
	</p>
 

</form>
<%end%>

<div class="segment">
	<h2>Popular Tags</h2>
	<div id="tagcloud">
		<ul>
			<%for tag in @cloud do%>
			<li class="tag<%= 6-tag.n%6 %>"><a href="/tag/<%= tag.name %>"><span><%= tag.name %></span></a></li>
			<%end%>

		</ul>
	</div>
</div>
<%end%>


 

