 <% @page_title = " - " + @list.name %> 


<div id="itemslist" >
			
<% if @list.listtype=="PERSONAL" %>
	<h3>This is a personal top list created by <%=@list.user.login%></h3>
<%end%>	 
</div>
 
	<div id="list-info">
		
		<%=render :partial => @list%>
	 
	
		<ul id="tabs">
			 <li id=<%= @sortby=="popular" ? "selected" : ""%> ><%=link_to "Popular", list_path(@list, :sortby=>"popular")%></li>
		    
		     <li id=<%= @sortby=="new" ? "selected" : ""%>>	<%=link_to "Recent", list_path(@list, :sortby=>"new")%></li>
		     <li id="addidea">
		     	
				<% if (@list.listtype=="SOCIAL" and current_user) or (@list.listtype=="PERSONAL" and @list.user_id==current_user.id)%>
					<a href="#new-item" style="padding-left:10px;">Add Item</a>
				<%else%>
 					<%=link_to "Add Item", login_path%>
				<%end%>
				
				
		
		
		     </li>
		   </ul>
	</div>

<div id="itemslist" >
	<%= render :partial => "feature", :collection => @features, :locals => {:list_id=>@list.id} %>
</div>

<%if current_user %>
<%if (@list.listtype=="PERSONAL" and @list.user_id==current_user.id) or (@list.listtype=="SOCIAL")%> 
	<a name="new-item">
	<% form_for ([@list,@newfeature]) do |f| %> 
	<label>Reply</label>
	<%= f.text_field :title %>
	<label>Description: </label><%= f.text_area  :description, :rows=>6 %>
	 <br>
	<%= submit_tag "Add It" %> 
	<% end %> 
<%end%>
<%end%>
 
</div>

 
