 
 
<table border=0 width=600px cellspacing="10" bgcolor="#eeffee" >
	<tr >
		<td width=90px align=center>
			<a href="/users/<%=user.username%>"> 
			<%=friend_image(user.image.to_s)%><br/>
			<%=user.username%>	
			</a>
		</td>
	
		<td valign=top width=300px	>
				<p class  = "info"><%=info%></p>
				<div class  = "itemtitle-list-activity"><%= title %></div>
				<p class = "description"><%= description %></p>
			
		</td>
			<td width=30px valign=top>
				 <img src="<%= IMAGE_DIR + icon.to_s%>">

			</td>
	</tr>
</table>
<br/>