<h1>Edit Password</h1>
<%= error_messages_for :user %>
 
<% form_tag :action=> "update_password" do %>
   
    <b>Current Password</b><br />
    <%= password_field_tag  :password %>
  </p>

	<b>New Password</b><br />
    <%= password_field "user","password" %>
  </p>

	<b>Confirm Password</b><br />
  <%= password_field "user","password_confirmation"%>
</p>
	
  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

 
