<div class="form">

<% form_for @user  do |f| %>
<%= f.error_messages %>
<p>
If you want to join Light Salad and post, rate, add features please sign up.
</p>
<fieldset>
 

<p>

<p>
<label for="user_name" >Username/Display Name (will be used to identify you in your posts)</label>
 <%= f.text_field :login%>
</p>

  
<p>
<label for="user_email" >Email: </label>
<%= f.text_field :email %>
</p>

<p>
<label for="user_password" >Choose Password:</label>
<%= f.password_field :password %>
</p>

<p>
<label for="user_password" > Password Confirmation:</label>
<%= f.password_field :password_confirmation 	%>
</p>
<p><br/>
<%=f.submit "Submit"%>
</p>
or
<p>
<%= oauth_register_button :value => "Register with Twitter" , :class=>"twitter"%>
</p>
 <%end%>

</div>