

 
<div class="itemtitle">
  <%= link_to @list.name, list_path(@list)%>
</div>

<div id="itemslist">		 		 
 	<%= render :partial => "lists/feature", :locals=>{:list_id=>@list.id}  %>
</div>
 
<div style="float:right;">
	<h3>Dislike it</h3>  

	<%for user in @disliked%>
	<div style="background-color:#EFE;padding:4px;width:200px;margin-bottom:3px;">
	<img src="<%=IMAGE_DIR%>votedown.png"><%=link_to user.login, :controller => 'users', :action => user.login.to_s%>  
	</div>
	<%end%>
</div>

<div style="">

	<h3>Like it </h3>

	<%for user in @liked%>
		<div style="background-color:#EFE;padding:4px;width:200px;margin-bottom:3px;">
 	<img src=" <%=IMAGE_DIR%>voteup.png"><%=link_to user.login, :controller => 'users', :action => user.login.to_s%>  
	</div>
	<%end%>

</div>

